<?xml version='1.0' encoding='utf-8'?>
<widget id="bemyguest.com.sg" version="0.8.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeMyGuest</name>
    <description>
        BeMyGuest Mobile App
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        BMG IT Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="res/icons/LDPI_v01.png" density="ldpi" />
    <icon src="res/icons/MDPI_v01.png" density="mdpi" />
    <icon src="res/icons/HDPI_v01.png" density="hdpi" />
    <icon src="res/icons/xHDPI_v01.png" density="xhdpi" />
    <icon src="res/icons/xxHDPI_v01.png" density="xxhdpi" />
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="7000" />
</widget>
